# Node.js Abhängigkeiten
node_modules/
package-lock.json

# TypeScript Build-Outputs
dist/
tsconfig.tsbuildinfo

# Logs & Debugging-Dateien
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# Umgebungseinstellungen
.env
.env.local
.env.development
.env.production

# Betriebssystemspezifische Dateien
.DS_Store
Thumbs.db

# Editor-/IDE-Dateien
.vscode/
.idea/
*.swp
*.swo
*.bak
*.tmp

# Cloud Functions Framework Temp-Dateien
.functions-framework.log
